<div class="space-y-8">

    <%= render "pages/header" %>

    <div class="text-center bg-green-400 border-4 border-white rounded-md"> <!-- ⬅️ THIS DIV WILL BE CENTERED -->
        <div class="p-2">
            <h1 class="text-3xl">Gdzie nas znajdziecie?</h1>
            <p class="text-xl py-2">Nasza szkoła jest zlokalizowana w centrum miasta na ul. Józefa Lompy 11. Bardzo łatwo tam dojechać zarówno pociągiem jak i autobusem</p> 
        </div>
        <iframe src="https://maps.google.com/maps?q=Józefa+Lompy+11,+Bielsko-Biała,+Polska&output=embed" width="100%" height="450" frameborder="0" class="rounded-b-md" allowfullscreen></iframe> 
    </div>

    <div class="text-center bg-green-400 border-4 border-white rounded-md"> <!-- ⬅️ THIS DIV WILL BE CENTERED -->
        <h1 class="text-3xl">Lorem Ipsum</h1>
        <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis facilisis orci eget pretium. Donec at molestie arcu</p>
    </div>

    <div class="text-center bg-green-400 border-4 border-white rounded-md"> <!-- ⬅️ THIS DIV WILL BE CENTERED -->
        <h1 class="text-3xl">Lorem Ipsum</h1>
        <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis facilisis orci eget pretium. Donec at molestie arcu</p>
    </div>

    <div class="text-center bg-green-400 border-4 border-white rounded-md"> <!-- ⬅️ THIS DIV WILL BE CENTERED -->
        <h1 class="text-3xl">Lorem Ipsum</h1>
        <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis facilisis orci eget pretium. Donec at molestie arcu</p>
    </div>

    <div class="text-center bg-green-400 border-4 border-white rounded-md"> <!-- ⬅️ THIS DIV WILL BE CENTERED -->
        <h1 class="text-3xl">Lorem Ipsum</h1>
        <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis facilisis orci eget pretium. Donec at molestie arcu</p>
    </div>

    
</div>
