<div class="mt-8 pb-4">
    <footer>
        <p class="text-sm text-center">
            Designed by <a class="text-blue-400" href="https://www.linkedin.com/in/pawe%C5%82-biegun-8b51b8187/">Paweł Biegun</a>, source code available on <a class="text-blue-400" href="https://github.com/Anakin100100/v_lo_open_day">Github</a> 
        </p>
    </footer>
</div>


